/* Reset CSS */

#user-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.sidebar.closed #user-info {
    display: none; /* Oculta o nome do usuário quando a barra lateral está fechada */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease; /* Adiciona transição suave para a mudança de largura */
}

.sidebar.closed {
    width: 0;
    overflow: hidden;
}

.sidebar.closed .conversation-list,
.sidebar.closed .new-conversation-btn,
.sidebar.closed #button-logout {
    display: none;
}

.new-conversation-btn {
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.new-conversation-btn:hover {
    background-color: #555;
}

.conversation-list {
    flex-grow: 1;
    overflow-y: auto;
}

.conversation {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.conversation:hover {
    background-color: #f9f9f9;
}

.conversation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.conversation-date {
    font-weight: bold;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.conversation-actions {
    display: flex;
    gap: 5px;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.action-btn:hover {
    color: #555;
}

.conversation-content {
    padding-top: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.toggle-sidebar-btn {
    align-self: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
}

.chat-container {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.header {
    height: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.messages-container {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.user-message {
    background-color: #F1F1F1;
}

.assistant-message {
    background-color: #CCC;
    position: relative;
}

.assistant-message .loading-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 10px;
    animation: blink 1s linear infinite;
}

.input-container {
    padding: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#user-input {
    height: 45px;
    flex-grow: 1;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #F1F1F1;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 16px;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000; /* Cor padrão para o ícone */
    margin-right: 10px; /* Ajuste conforme necessário */
    transition: color 0.3s;
}

#send-button {
    width: 45px;
    height: 45px;
    background-color: #000;
    background-image: url('../img/seta-up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#send-button:hover {
    background-color: #555;
}

#stop-button {
    display: none;
    width: 45px;
    height: 45px;
    background-color: #c00;
    background-image: url('../img/stop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#stop-button:hover {
    background-color: #900;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.temp-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0.9;
    font-size: 16px;
}

.editable {
    cursor: pointer;
    border: 1px dashed transparent;
    padding: 2px;
}

.editable:hover {
    border: 1px dashed #ccc;
}

.editing {
    border: 1px solid #000;
    background-color: #fff;
    padding: 2px;
}

#button-logout {
    text-align: center;
    margin-top: 20px;
}

#logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#logout-button:hover {
    background-color: #ff1a1a;
}

/* Estilos para o tema escuro */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

body.dark-mode .sidebar,
body.dark-mode .chat-container,
body.dark-mode .input-container,
body.dark-mode .messages-container {
    background-color: #000;
    color: #fff;
}

body.dark-mode .header {
    background-color: #444;
}

body.dark-mode #user-input {
    background-color: #333;
    color: #fff;
}

body.dark-mode .message {
    background-color: #333;
    color: #fff;
}

body.dark-mode #theme-toggle {
    color: #ffeb3b; /* Cor da lâmpada acesa */
}

/* Estilos para o botão de anexo */
#attach-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000; /* Cor padrão para o ícone */
    margin-right: 10px; /* Ajuste conforme necessário */
    transition: color 0.3s;
}

#attach-button:hover {
    color: #555; /* Cor quando o botão está sendo hover */
}

/* Estilos para o tema escuro */
body.dark-mode #attach-button {
    color: #ffeb3b; /* Cor do ícone no modo escuro */
}
